
resources/proposal-template.docx
resources/DKinney_Project_1_Proposal.docx
Assignments/Week2/DKinney_DCS680_Assignment 2_1.md.docx
Predicting Exoplanets/Predicting_Exoplanets.ipynb
Predicting Exoplanets/.ipynb_checkpoints/Predicting_Exoplanets-checkpoint.ipynb
Predicting Exoplanets/.ipynb_checkpoints/your_report-checkpoint.html
Predicting Exoplanets/.ipynb_checkpoints/Predicting_Exoplanets-checkpoint.ipynb
Predicting Exoplanets/your_report.html
