
resources/proposal-template.docx
resources/DKinney_Project_1_Proposal.docx
Assignments/Week2/DKinney_DCS680_Assignment 2_1.md.docx
Predicting Exoplanets/Predicting_Exoplanets.ipynb
Predicting Exoplanets/.ipynb_checkpoints/Predicting_Exoplanets-checkpoint.ipynb
Predicting Exoplanets/.ipynb_checkpoints/your_report-checkpoint.html
Predicting Exoplanets/.ipynb_checkpoints/Predicting_Exoplanets-checkpoint.ipynb
Predicting Exoplanets/your_report.html
.spyproject/config/backups/codestyle.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/codestyle.ini
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
.spyproject/config/encoding.ini
.spyproject/config/vcs.ini
.spyproject/config/workspace.ini
profile_report_0403210625.html
Assignments/Week3/~WRL2473.tmp
Breast Cancer/data/
*.log
Breast Cancer/mlruns/
Breast Cancer/catboost_info/
Assignments/Week8/~$inney-DSC680-Project 2 White Paper.docx
Assignments/Week8/~$inney-DSC680-Project 2 White Paper.docx
Assignments/Week8/~$inney-DSC680-Project 2 White Paper.docx
